* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
}

div {
    box-sizing: border-box;
}

div:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

span {
    background-color: black;
    color: white;
}

.blog-container {
    width: 65%;
    margin-right: 2.5%;
    margin-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.author-container {
    width: 32.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.container img {
    width: 100%;
}

.blog-content,
.author-content {
    padding: 5px 30px;
}
@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
    }
    .blog-container, .author-container {
        width: 100%;
    }
}